# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\few-shot-learning\MAML_FSL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
